body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
}
#bars-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 500px;
    margin-top: 20px;
}
.bar {
    margin: 0 2px;
    background-color: teal;
    width: 10px;
}
